*{
  font-family: monospace;
}

.division {
  width: 85%;
  margin: auto;
}
h1{
  text-align: center;
  margin-bottom: 75px;
}

section{
  box-sizing: border-box;
  color:black;
  font-size: 13px;
  float: left;
  background-color: gray;
  padding: 15px;
  border: 3px solid black;
  margin:10px;
  position: relative;
}
p{
  font-size: 13px;
  font-weight: bold;
  margin-top: 22px;
}
div{
  font-size: 26px;
}
#ch{
  background: #D59898;
  width: 130px;
  height:auto;
  text-align: center;
  position:absolute;
  right:0;
  top:0;
}

#be{
  background: #C04543;
  color:white;
  width: 130px;
  height:auto;
  text-align: center;
  position:absolute;
  right:0;
  top:0;
}
#su{
  background: #E5D198;
  width: 130px;
  height:auto;
  text-align: center;
  position:absolute;
  right:0;
  top:0;
}

@media (min-width:992px) {
  section{
    width: 31%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  section{
    width: 45%;
  }
}
@media (max-width:767px) {
  section{
    width:60%;
  }
}
